.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
examples/**
settings/**
commands/**

# # Ignore everything
# *
# **/*
# # Whitelist
# # !.vscodeignore
# # !package.json
# # !README.md
# # !LICENSE.md
# # !images/**/*
# # !out/**/*
# # !textmate/**/*
# # !parsers/**/*
# # !node_modules/**/*